{% extends 'painel.html.twig' %}

{% block body %}
    <h1>Editar Barbeiro</h1>

    <div class="row">
        <div class="col-md-8">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input type="submit" value="Salvar" class="btn btn-success pull-right"/>
            {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input type="submit" value="Deletar" class="btn btn-danger pull-left">
            {{ form_end(delete_form) }}
        </div>
    </div>
            
{% endblock %}
